.navigation {
    display: flex;
    justify-content:center; 
    /* background-color: cornflowerblue; */
    /* background-color:crimson; */
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='80' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23000000ff'/><path d='M-20.133 4.568C-13.178 4.932-6.452 7.376 0 10c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1' stroke='%23dc143cff' fill='none'/><path d='M-20.133 24.568C-13.178 24.932-6.452 27.376 0 30c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1' stroke='%23000000ff' fill='none'/><path d='M-20.133 44.568C-13.178 44.932-6.452 47.376 0 50c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1' stroke='%23dc143cff' fill='none'/><path d='M-20.133 64.568C-13.178 64.932-6.452 67.376 0 70c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1' stroke='%23000000ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    border-left: 2px solid crimson;
    border-bottom: 2px solid crimson;
    border-right: px solid crimson;
    margin: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 6%;
    align-items: center;
}

.App-logo {
    margin-top: 7%;
}

.nav-item {
    /* padding: 5px 40px 5px 40px; */
    padding: 0.2rem 0.6rem;
    position: sticky;
    border: 1px solid transparent;
    /* border-radius:  25px; */
    /* transition: all 0.5s ease; */
    align-self: center;
    color: white;
    text-decoration: none;
    margin: 10px;
}
.nav-item::before,
.nav-item::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: crimson;
    transition: width 0.7s ease, left 0.7s ease;
}

.nav-item::before {
    top: 0;
}

.nav-item::after {
    bottom: 0;
}

.nav-item:hover::before,
.nav-item:hover::after {
    width: 100%;
    left: 0;
}

.nav-item:hover {
    cursor: pointer;
}

.page-content {
    padding-top: 8rem;
}

.svg-link {
    padding: 2%;
}

.svg-link path {
    fill: white;
    transition: fill 0.7s ease; 
}

.svg-link:hover path {
    cursor: pointer;
    fill: crimson;
}

.svg-link:hover {
    cursor: pointer;
}


.footer {
    color: white;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    background-color: crimson !important;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='80' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23000000ff'/><path d='M-20.133 4.568C-13.178 4.932-6.452 7.376 0 10c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1' stroke='%23dc143cff' fill='none'/><path d='M-20.133 24.568C-13.178 24.932-6.452 27.376 0 30c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1' stroke='%23000000ff' fill='none'/><path d='M-20.133 44.568C-13.178 44.932-6.452 47.376 0 50c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1' stroke='%23dc143cff' fill='none'/><path d='M-20.133 64.568C-13.178 64.932-6.452 67.376 0 70c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1' stroke='%23000000ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    width: 100%;
    /* height: 6%; */
    max-height: 7% !important;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    align-content:center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid crimson;
    border-top: 2px solid crimson;
    border-right: 2px solid crimson;
}

