.navigation {
    display: flex;
    justify-content:center; 
    background-color:crimson;
    background-image: url("../../public/waves.png");
    border-left: 2px solid crimson;
    border-bottom: 2px solid crimson;
    border-right: 2px solid crimson;
    margin: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 6%;
    align-items: center;
}

.App-logo {
    margin-top: 7%;
}

.nav-item {
    padding: 0.2rem 0.6rem;
    position: sticky;
    border: 1px solid transparent;
    align-self: center;
    color: white;
    text-decoration: none;
    margin: 10px;
}
.nav-item::before,
.nav-item::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: crimson;
    transition: width 0.7s ease, left 0.7s ease;
}

.nav-item::before {
    top: 0;
}

.nav-item::after {
    bottom: 0;
}

.nav-item:hover::before,
.nav-item:hover::after {
    width: 100%;
    left: 0;
}

.nav-item:hover {
    cursor: pointer;
}

.page-content {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-self: center;
    flex-wrap: wrap;
}

a {
    color: inherit;
}

.home-greeting {
    position: relative; 
    font-size: calc(10px + 2vmin);
    text-align: left;
    padding: 2%;
    border: 1px solid transparent; 
    border-radius: 25px;
    transition: all ease 0.5s;
    z-index: 1;
    color: white;
    display: flex;
    width: auto fit-content;
    height:auto fit-content;
    max-width: 60%;
  }
  
  .home-greeting::before {
    content: '';
    position: absolute;
    inset: 0; /* shorthand for top, right, bottom, left = 0 */
    border: 2px solid crimson;
    border-radius: 25px;
    transform: scale(0);
    transform-origin:center;
    animation: borderGrow 0.7s ease-out forwards;
    pointer-events: none; /* don't block interaction */
  }
  
  @keyframes borderGrow {
    to {
      transform: scale(1);
    }
  }
 
.me {
    border-radius: 100px;
    align-self:center;
    justify-self: center;
    padding: 2%;
    width: calc(50px + 30vmin);
}

.home-greeting-text {
    align-self:center;
    justify-self: center;
}

.svg-link {
    padding: 2%;
}

.svg-link path {
    fill: white;
    transition: fill 0.7s ease; 
}

.svg-link:hover path {
    cursor: pointer;
    fill: crimson;
}

.svg-link:hover {
    cursor: pointer;
}


.footer {
    color: white;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    background-color: crimson !important;
    background-image: url("../../public/waves.png");
    width: 100%;
    max-height: 7% !important;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    align-content:center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid crimson;
    border-top: 2px solid crimson;
    border-right: 2px solid crimson;
}

